[submodule "ext/rtmpdump"]
	path = ext/rtmpdump
	url = https://github.com/czz/rtmpdump.git
	branch = master
[submodule "ext/libntfs_ext"]
	path = ext/libntfs_ext
	url = https://github.com/andoma/libntfs_ext.git
[submodule "ext/gumbo-parser"]
	path = ext/gumbo-parser
	url = https://github.com/google/gumbo-parser
[submodule "ios/freetype2-ios"]
	path = ios/freetype2-ios
	url = https://github.com/andoma/freetype2-ios.git
[submodule "ext/vmir"]
	path = ext/vmir
	url = https://github.com/andoma/vmir
	branch = v2.0-new
[submodule "ext/libyuv"]
	path = ext/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "ext/ffmpeg"]
	path = ext/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/7.1
